{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirm-password" name="confirm-password" placeholder="ConfirmPassword" type="password">
            <button class="btn btn-secondary btn-sm" type="button" id="toggle-password" onclick="togglePassword(['password', 'confirm-password'])">Toggle Password</button>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    <script src="/static/togglePassword.js"></script>
{% endblock %}
